h1 {
    color: var(--bs-gray-600);
}

p {
    color: var(--bs-gray-900);
}

h3 {
    color: var(--bs-gray-900);
    text-align: center;
}

li {
    background-image: unset;
    list-style: decimal;
    padding-top: 10px;
    padding-left: 10px;
    font-size: unset;
    color: var(--bs-gray-900);
}

.view-form-container {
    max-width: 800px !important;
}

textarea {
    color: var(--bs-gray-600);
    resize: none !important;
    border-style: none;
    text-align: center;
}