h1 {
    color: var(--bs-gray-600);
}

p {
    color: var(--bs-gray-900);
}

li {
    background-image: unset;
    list-style: decimal;
    padding-top: 10px;
    padding-left: 10px;
    font-size: unset;
    color: var(--bs-gray-900);
}

.view-form-container {
    max-width: 800px !important;
}